# Windows
 
# Windows thumbnail cache files
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
 
# Dump file
*.stackdump
 
# Folder config file
[Dd]esktop.ini
 
# Recycle Bin used on file shares
$RECYCLE.BIN/
 
# Windows Installer files
*.cab
*.msi
*.msix
*.msm
*.msp
 
# Windows shortcuts
*.lnk
 
# Mac
 
## General
.DS_Store
.AppleDouble
.LSOverride
 
## Icon must end with two \r
Icon
 
## Thumbnails
._*
 
## Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
 
## Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
 
# GameMaker temporary files
*.resource_order
*.old

# GMLIVE JUMPSCARE
datafiles/GMLive/*

# GMRT build directory
Build
options/extensions/GMLive_fallback.json
scripts/GMLive_notOnce/GMLive_notOnce.gml
extensions/GMLive_fallback/pre_build_step.sh
extensions/GMLive_fallback/GMLive_fallback.yy
extensions/GMLive_fallback/pre_build_step.bat
scripts/GMLive_noDeactivate/GMLive_noDeactivate.yy
extensions/GMLive_fallback/pre_build_step_warn.vbs
scripts/GMLive_noDeactivate/GMLive_noDeactivate.gml
scripts/GMLive_noDeactivate/GMLive_noDeactivate.gml
options/extensions/GMLive_fallback.json
scripts/GMLive_notOnce/GMLive_notOnce.yy
scripts/GMLiveAPI_js/GMLiveAPI_js.gml
scripts/GMLiveAPI_js/GMLiveAPI_js.yy
scripts/GMLive/GMLive.fallback.gml
objects/obj_gmlive/obj_gmlive.yy
objects/obj_gmlive/Other_62.gml
